<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:replace="/fragments/header :: header"/>
    <form action="/members/new" th:object="${member}" method="post">
        <label th:for="username">아이디</label>
        <input type="text" th:field="*{username}"><br/>
        <label th:for="password">비밀번호</label>
        <input type="password" th:field="*{password}"><br/>
        <label th:for="name">이름</label>
        <input type="text" th:field="*{name}"><br/>
        <button type="submit">등록</button>
    </form>
</body>
</html>